body {
	margin: 0px;
}

/* Game/Profile Window stuff */
#content-window {
	margin-right: 300px;
	padding: 10px;
	text-align: center;
	font-family: sans-serif;
	color: #808080;
}

h1 {
	margin: auto;
	width: 750px;
	padding-top: 70px;
	padding-bottom: 70px;
	font-size: 112px;
	color: #808080;
}

#profile-name {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

h2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Chat window stuff */
#chat-box {
	border-left: solid 1px #808080;
	top: 56px;
    left: 1;
    right: 0;
    bottom: 0;
	
	width: 300px;
    position: fixed;
	
	word-wrap: break-word;
	overflow: auto;
}

#text-box {
	height: 50px;
	bottom: 0px;
	resize: none;
	width: 270px;
	margin: 10px ;
	padding: 5px;
	position: fixed;
	bottom: 0;
}

ul {
	list-style-type: none;
	padding: 10px 10px 60px 10px;
}

li {
	padding-bottom: 20px;
	font-size: 18px;
}

/* Header bar stuff */
#score {
	width: 60%;
	padding-top: 15px;
	margin: 0px auto;
	display: inline-block;
	text-align: center;
	transform: translate(-31%,0%);
	font-size: 24px;
	font-style: bold;
	font-family: sans-serif;
	color: #808080;
}

#menu {
	padding-right: 5px;
	padding-bottom: 5px;
	height: 51px;
	border-bottom: solid 1px #808080;
	text-align: right;
}

/* Button stuff */
button {
	display: inline-block;
	font-family: sans-serif;
	line-height: 1.8;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
  
	color: #808080;
	background: rgba(0,0,0,0);
}

.large-button {
	margin: 10px;
	padding: 15px 45px;
	font-size: 48px;
	border: solid 5px #808080;
}

.small-button {
	margin: 5px;
	padding: 5px 10px;
	font-size: 16px;
	border:  solid 3px #808080;
	transform: translate(0%, -8%);
}

.profile-button {
	margin: 20px;
}

#play-button {
	margin-top: 70px;
}

button:hover {
	border-color: #696969;
	color: #696969;
}

button:active {
	border-color: #000000;
	color: #000000;
}

button:focus {
  outline: none
}

/* Login form */
#form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -40%);
}

input {
	margin: 10px;
	height: 48px;
	font-size: 36px;
	font-family: sans-serif;
	color: #808080;
	padding: 6px;
	border: solid 5px #808080;
	outline: none;
}